<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bulutangkis.learning">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:maxSdkVersion="22" android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:maxSdkVersion="22" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.MyIntro"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MainActivity"
            android:label="Dashboard" />
        <activity
            android:name=".MateriActivity"
            android:label="Materi"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".VideoActivity"
            android:label="Video Tutorial"
            android:parentActivityName=".VideoActivity" />
        <activity
            android:name=".materi.PeraturanBulutangkis"
            android:label="Peraturan Bulutangkis"
            android:parentActivityName=".MateriActivity" />
        <activity
            android:name=".materi.PerwasitanBulutangkis"
            android:label="Perwasitan Bulutangkis"
            android:parentActivityName=".MateriActivity" />
        <activity
            android:name=".materi.SejarahBulutangkis"
            android:label="Sejarah Bulutangkis"
            android:parentActivityName=".MateriActivity" />
        <activity
            android:name=".materi.StrategiBulutangkis"
            android:label="Strategi dan Taktik Bulutangkis"
            android:parentActivityName=".MateriActivity" />
        <activity
            android:name=".materi.TeknikServiceBulutangkis"
            android:label="Teknik Servis dan Pukulan Bulutangkis"
            android:parentActivityName=".MateriActivity" />
        <activity
            android:name=".about.AboutActivity"
            android:label="Profil Apliksi"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".kuis.KuisActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".kuis.PrepareKuisActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".about.IdentitasActivity"
            android:label="Identitas"
            android:parentActivityName=".about.AboutActivity" />
        <activity
            android:name=".about.PendidikanActivity"
            android:label="Pendidikan"
            android:parentActivityName=".about.AboutActivity" />
        <activity
            android:name=".about.RiwayatPekerjaanActivity"
            android:label="Riwayat Pekerjaan"
            android:parentActivityName=".about.AboutActivity" />
        <activity
            android:name=".about.RiwayatJabatanActivity"
            android:label="Riwayat Jabatan"
            android:parentActivityName=".about.AboutActivity" />
        <activity
            android:name=".about.FipWebviewActivity"
            android:label="Fakultas Ilmu Pendidikan"
            android:parentActivityName=".about.AboutActivity" />
        <activity
            android:name=".about.UMWebviewActivity"
            android:label="Universitas Negeri Malang"
            android:parentActivityName=".about.AboutActivity" />
        <activity
            android:name=".about.SertifikatActivity"
            android:label="Sertifikat"
            android:parentActivityName=".about.AboutActivity" />
        <activity
            android:name=".about.InformasiActivity"
            android:label="Informasi"
            android:parentActivityName=".about.AboutActivity" />
        <activity
            android:name=".video.FirstPlayerActivity"
            android:label="Video Tutorial 01"
            android:parentActivityName=".VideoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".video.SecondPlayerActivity"
            android:label="Video Tutorial 02"
            android:parentActivityName=".VideoActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".PresentasiActivity"
            android:label="Presentasi"
            android:parentActivityName=".MateriActivity"/>

        <activity
            android:name=".materi.Presentasi01"
            android:label="Sikap Siaga"
            android:parentActivityName=".PresentasiActivity" />

        <activity
            android:name=".materi.Presentasi02"
            android:label="Sikap Siaga"
            android:parentActivityName=".PresentasiActivity" />

        <activity
            android:name=".materi.Presentasi03"
            android:label="Sikap Siaga"
            android:parentActivityName=".PresentasiActivity" />
    </application>

</manifest>